.heading {
  color: white;
  font-size: 40px;
  margin: 10px auto;
  max-width: 450px;
  font-weight: 300;
}

.formWrapper {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  justify-content: center;
  margin: 50px auto;
  padding: 20px 30px;
  max-width: 500px;
  border: 1px solid rgb(179, 192, 159);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Style inputs */
input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 18px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type='submit'] {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  background-color: #324b4b;
  color: white;
  padding: 14px 20px;
  font-size: 20px;
  font-style: oblique;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type='submit']:hover {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

input[type='file'] {
  display: none;
}

.fileArea {
  max-width: 125px;
  padding: 10px 20px;
  margin: 20px auto;
}

.file {
  font-size: 11;
  width: 40%;
  background-color: #272c41;
  color: white;
  padding: 7px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file:hover {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
