@font-face {
  font-family: 'Mr Dafoe';
  src: url('../fonts/MrDafoe-Regular.woff2') format('woff2'),
    url('../fonts/MrDafoe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/../fonts/Rubik-Black.woff2') format('woff2'),
    url('../fonts/Rubik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-BoldItalic.woff2') format('woff2'),
    url('../fonts/Rubik-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Rubik-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-BlackItalic.woff2') format('woff2'),
    url('../fonts/Rubik-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-ExtraBold.woff2') format('woff2'),
    url('../fonts/Rubik-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
    url('../fonts/Rubik-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-SemiBold.woff2') format('woff2'),
    url('../fonts/Rubik-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Italic.woff2') format('woff2'),
    url('../fonts/Rubik-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-LightItalic.woff2') format('woff2'),
    url('../fonts/Rubik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Rubik-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-LightItalic.woff2') format('woff2'),
    url('../fonts/Rubik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* --------------- Globals Start --------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik';
}

.container {
  max-width: 1200px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  font-size: 14.5px;
  color: black;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --------------- Globals End --------------- */

/* --------------- Navbar Start --------------- */

.navbar-nav li:first-child {
  margin-left: -9px;
}

.nav-link {
  color: black;
}

.nav-item {
  margin-right: 15px;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: #dc0f9e;
}

.logo {
  max-width: 120px;
  display: flex;
  justify-content: center;
}

.navbar-toggler {
  max-height: 35px;
  max-width: 60px;
  height: 35px;
  width: 60px;
  border: none;
  margin-left: auto;
  z-index: 999;
}

button.navbar-toggler:focus {
  box-shadow: none;
}

header .navbar-toggler span {
  background-color: #252525;
  display: block;
  max-width: 40px;
  max-height: 4px;
  width: 40px;
  height: 4px;
  position: relative;
}

header .navbar-toggler .top-bar {
  top: 15px;
  position: absolute;
}

header .navbar-toggler .mid-bar {
  top: 25px;
  position: absolute;
}

header .navbar-toggler .bottom-bar {
  top: 35.5px;
  position: absolute;
}

.navbar-collapse {
  display: block !important;
  position: absolute;
  background-color: white;
  max-height: 100vh !important;
  width: 100%;
  top: 0;
  left: -100%;
  right: 0;
  z-index: 998;
  transition: all 0.3s;
}

.navbar-collapse.show {
  position: absolute;
  left: 0;
  transition: 1.5s ease-in-out;
}

.humburger .top-bar {
  opacity: 1;
  transform: rotate(45deg) translate(24px, 0px);
  background: #232323;
}
/*   transform: rotate(-47deg) translateX(-14px); */

.humburger .bottom-bar {
  transform: rotate(-45deg) translate(14px, 8px);

  /*   transform: rotate(45deg) translateX(-14px); */
}

.humburger .mid-bar {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);

  /*   opacity: 0;
  transition: ease-in-out 0.2s;
  transform: translateX(-30px); */
}

.humburger .navbar-toggler {
  margin-left: -15px;
}

@media screen and (min-width: 767px) {
  .navbar-collapse {
    display: none;
    left: 0;
    height: 0vh !important;
  }
  header {
    margin-left: 152px;
    margin-top: 40px;
    transition: 0s;
  }
}

@media only screen and (min-width: 1366px) {
  .nav-item {
    /* margin-left: -552px; */
    margin-top: 40px;
  }

  /*  .hero .hero-item a {
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}

@media only screen and (max-width: 1024px) {
  header {
    margin-left: 12px;
    margin-top: 40px;
    transition: 0s;
  }

  .hero .hero-item a {
    /*     margin-left: 105px; */
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* --------------- Navbar End --------------- */

/* --------------- Hero Start --------------- */

.hero-item {
  background-size: cover;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  min-height: 341px;
}

.hero-item a {
  text-decoration: none;
  border: 1.5px solid transparent;
  transition: 0.3s all ease;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 30px;
  padding: 7px 27px;
  margin-left: 120px;
}

.hero-item a:hover {
  background-color: #e0dacc;
  border: 1.5px solid #dc009b;
}

/* Media Query for Section Hero */
@media only screen and (max-width: 767px) {
  .hero-item a {
    font-size: 15px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* --------------- NavBar End --------------- */

/* --------------- Globals Start --------------- */ /*  */
.jumboh1 {
  font-family: 'Mr Dafoe';
  font-size: 30px;
  color: #e0049c;
  margin-bottom: -4px;
}

.jumbop {
  color: #858585;
}

.jumboh2 {
  font-family: 'Mr Dafoe';
  font-size: 30px;
  color: #000000;
  margin-bottom: -4px;
}
.jumbop2 {
  color: #858585;
}

/* Jumbotron Font End*/

/* products-second */
.first-row {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.item-img img {
  width: 100%;
}

.item-details {
  position: relative;
  background-repeat: no-repeat;
}

.item-text .currency {
  color: #dc009b;
  margin-top: -15px;
}
/* products-second end*/

/* Extras Styles Start */
.extra-one {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  color: #fff;
}

.extra-two {
  background-color: #dc009b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  color: #fff;
}

.extra {
  font-size: 14px;
}

.extra-one h3 {
  margin-top: 30px;
}

.extra-two p {
  margin-top: 30px;
  margin-bottom: 5px;
}
/* Extras Styles End */

.best-seller {
  margin-top: 30px;
}

.features ul {
  padding: unset;
  margin: unset;
}

.feature {
  display: flex;
  justify-content: center;
}

.feature li:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
}

.feature li:last-child {
  margin-top: -10px;
  color: #aaa9a9;
  font-size: 13px;
}

.feature:hover {
  box-shadow: 0 0 50px #ccc;
}

.news-text h4 {
  font-size: 26px;
}

.news-brief {
  background-color: #f7f7f7;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.news-text p {
  font-size: 12px;
  max-width: 600px;
  opacity: 0.7;
}

.content {
  max-width: 600px;
}

.content .form-control {
  border-color: #ffffff;
  border-radius: 0;
}

.content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}

.content .btn {
  min-height: 50px;
  border-radius: 0px;
  background: #dc009b;
  color: #fff;
  font-weight: 600;
  max-width: 150px;
  width: 150px;
}

.footer li:not(:first-child) {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 12px;
}

.footer li:last-child {
  margin-bottom: 60px;
}

.footer {
  border-bottom: 1px;
  box-shadow: 0px 2px 0px 0px rgba(245, 244, 244, 0.9);
}

/* .foot-item ul h5 {
  margin-bottom: 20px;
} */
