.header {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  );
  color: white;
  padding: 20px;
  max-width: 1483px;
  width: 1483px;
}

.header h2 {
  font-style: oblique;
  margin: 20px auto 0px auto;
  padding: 5px 2px;
  max-width: 200px;
}
