.navbar {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Times New Roman', Times, serif;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin: 0px 10px 10px 50px;
}

.navbar ul li {
  padding: 0px 10px;
  margin: 0px 10px;
}

.navbar li h5 {
  color: rgb(15, 23, 32);
  font-size: 24px;
}
